#cohort-container {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./images/1_dqV2meYkevAJ0TAgJ98a8A.jpeg");
  background-size: cover;
  min-height: 670px;
  display: flex;
  justify-content: center;
}
#search-cohort {
  margin-top: 100px;
  margin-bottom: 200px;
  background-image: linear-gradient(0deg, #534444 0%, #ed4343 100%);
  height: auto;
  display: flex;
  flex-direction: column;
  width:45vw;
  min-height: 100px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 20px;
}

#cohort-option {
  background-color: gray;
  color: white;
  font-size: 15px;
}
