#studentsList {
  color: lavender;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(49, 49, 49, 0.7);
  list-style: none;
  font-size: 20px;
  border-radius: 20px;
  width: 30vw;
}

.student-name {
  color: rgb(219, 219, 219);
  text-align: left;
}
.student-name:hover {
  color: rgb(255, 89, 89);
  text-decoration: none;
}
