#container {
  margin: 0;
  padding: 0;
}

.banar {
  /* background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("./images/banar.jpg"); */
  background-color: rgb(44, 44, 44);

  margin-top: 0px;
  text-align: center;
}
.heading-title {
  font-family: inherit;
  font-size: 3em;

  line-height: 1.4;
  letter-spacing: 0em;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.23);
  text-transform: none;
  color: rgb(255, 255, 255);

  text-decoration-line: underline;
  text-decoration-color: #ea4549;
  text-align: center;
}
#logo {
  padding-right: 150px;
  padding-left: 20px;
  height: auto;
}

#options {
  margin-top: 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#heading {
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(63, 63, 63);
  height: 70px;
}

#login-question {
  margin-top: 30px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#student {
  background-color: rgb(218, 67, 67);
  color: white;
  padding: 15px;

  font-size: 30px;
  font-weight: 600;
  border: none;
  margin: 0 auto;
  margin-top: 100px;

  cursor: pointer;
}
#mentor {
  background-color: rgb(218, 67, 67);
  color: white;

  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 600;
  border: none;

  cursor: pointer;
}
#student:hover {
  background-color: rgb(226, 0, 0);
}

#student:active {
  transform: translateY(4px);
}

#mentor:hover {
  background-color: rgb(226, 0, 0);
}

#mentor:active {
  transform: translateY(4px);
}
footer {
  background-color: rgb(44, 44, 44);
  color: aliceblue;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media (min-width: 300px) and (max-width: 769px) {
  #options {
    display: flex;
    /* flex-direction:column; */
  }
  footer {
    background-color: rgb(95, 30, 30);
    width: 100%;

    margin-top: 85%;
  }
}
@media (min-device-width: 769px) and (max-device-width: 3000px) {
  #options {
    display: flex;
    flex-direction: row;
  }
  #student {
    margin: 30px;
  }
  #mentor {
    margin: 30px;
  }
}
