
#container {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./images/1_dqV2meYkevAJ0TAgJ98a8A.jpeg");
  background-size: cover;
height:100%;
}
.heading-title {
  font-weight: 500;
    font-size: 35px;

}
#heading {
  background-color: rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(63, 63, 63);
  height: 100px;
}
#logo {
  padding-right: 150px;
  padding-left: 20px;
  height: auto;
}

#options {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(231, 231, 231, 0.5);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#login-question {
  margin: 30px;
  font-size: 80px;
  color: rgb(255, 255, 255);
}

#student {
  background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
  color: white;
  padding: 20px;
  width:30vw;
  font-size: 60px;
  font-weight: 600;
  border: none;
  margin:0 auto;
  margin-top: 100px;
  box-shadow: 0 9px #999;
  cursor: pointer;
}
#mentor {
  background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
  color: white;
   width:30vw;
  padding: 20px;
  margin:0 auto;
  margin-top: 100px;
  font-size: 60px;
  font-weight: 600;
  border: none;
  box-shadow: 0 9px #999;
  cursor: pointer;
}
#student:hover {
  background-image: linear-gradient(0deg, #8f7373 0%, #e03a3a 100%);
}

#student:active {
  background-image: linear-gradient(0deg, #8f7373 0%, #e03a3a 100%);
  box-shadow: 0 5px rgb(136, 136, 136);
  transform: translateY(4px);
}


#mentor:hover {
  background-image: linear-gradient(0deg, #8f7373 0%, #e03a3a 100%);
}

#mentor:active {
  background-color: #00b899;
  box-shadow: 0 5px rgb(136, 136, 136);
  transform: translateY(4px);
}



@media (min-width: 300px) and (max-width: 768px){
  #options{
    display:flex;
    /* flex-direction:column; */
  }
  #footer{
  height:50vh;
  position: fixed;
  width: 100%;

}

}
@media (min-device-width: 769px) and (max-device-width: 3000px){
  #options{
    display:flex;
    flex-direction:row;
  }
  #student{
    margin:30px;
  }
  #mentor{
   margin:30px;
  }
}