.container {
  padding: 20px;
  margin: 20px auto;
  margin-top: 100px;
  border: 2px solid #cccccc;
  background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
  width: 75vw;
}
#login-container {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./images/1_dqV2meYkevAJ0TAgJ98a8A.jpeg");
  background-size: cover;
  height: 670px;
}
.welcom-form {
  font-size: 50px !important;
  font-weight: 600;
}

h2,
h4 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 0 0 35px 0;
  font-weight: 200;
  color: white;
}

.message {
  color: rgb(243, 197, 197);
  font-size: 18px;
  margin-left: 50px;
}

#form {
  background-image: linear-gradient(0deg, #534444 0%, #ed4343 100%);
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
}

input,
select {
  height: 50px;
  margin: 10px 0px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  outline: none;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font: 600;
  border: none;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 19px;
  border: 2px solid rgb(228, 228, 228, 0.5);
  width: 20vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-device-width: 769px) and (max-device-width: 3000px) {
  .container {
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #cccccc;
    background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
    width: 40vw;
  }
}
