
.container {
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 150px auto;
  border: 2px solid #cccccc;
  
}

 h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin: 0 0 35px 0;
}
 .message{ 
  color: red; 
 }

 form  {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
}

input {
  height: 25px;
  margin: 10px 0px;
}

.btn {
  width : 100%;
  outline: none;
  margin: 10px  auto;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}

