#logout-btn {
  background-color: #cf3232de;
  border-radius: 5px;
  border: 1px solid #cacaca;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 25px;
  margin: 5px;

  text-decoration: none;
}
#logout-btn:hover {
  background-color: #db0000;
  color: #ffffff;
}
