.welcome {
  font-size: 30px;
  font-weight: 600;
  color: rgb(65, 65, 65);
}

#profile-heading {
  height: 80px;
  display: flex;
  background-color: rgb(231, 231, 231);
  justify-content: space-between;
  color: rgb(48, 48, 48);
  align-items: center;
}

#student-profile {
  margin: 10px;
  background-color: rgba(230, 230, 230, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

#avatar {
  align-self: center;
  width: 8em;
  height: auto;
  border-radius: 100%;
  margin-top: -50px;
  border: 10px solid rgb(197, 197, 197, 0.5);
  justify-self: center;
}

#student-bio {
  padding: 15px;
  border-radius: 20px;
  border: none;
}

/*  Modules  */

#checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
  margin-top: 2rem;
}

/**********************/

.checkbox > input {
  margin: 5px;
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;

  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid #ffffff;
  background-color: #00992e;
}

#modules-title {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(61, 61, 61);
  border-radius: 7px;
  border: solid 2px white;
  color: rgb(221, 221, 221);
}

option {
  background-color: rgb(221, 221, 221);
  color: rgb(95, 95, 95);
}

/* feedback */

#feedback {
  padding: 20px;
  margin: 15px;
  background-color: rgba(230, 230, 230, 0.7);
  display: flex;
  flex-direction: column;

  border-radius: 20px;
}
#mentor-feedback {
  background-color: black;
  color: white;
}
#comment-input {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar {
  margin-left: 10px;
  margin-top: 20px;
  padding: 5px;
  background-color: white;
  width: 60%;
  border-radius: 5px;
  border: 2px solid gray;
}
.search-bar {
  display: flex;
  align-items: flex-start;
}
.title-btn {
  width: 100vw;
  background-color: rgb(107, 107, 107);
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  border: none;
}
.title-btn:hover {
  background-color: rgb(214, 51, 51);
}
