.regions-container {
  max-width: 1000px;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

.regions-row {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  /* border: 2px solid green; */
}
