#link {
  text-decoration: none;
}
#signup-container {
  padding: 20px;
  margin: 20px auto;

  border: 2px solid #cccccc;
  background-color: rgb(189, 189, 189);
  width: 40vw;
  color: rgb(71, 71, 71);
  width: 50vw;
  box-shadow: 0px 10px rgb(223, 5, 5);
  border-radius: 10px;
}
.select-cohort {
  background-color: #ffffff;
  height: 40px;
  margin: 5px;

  border-radius: 6px;
  border: none;
  color: #505050;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}

.sign-up {
  color: rgb(255, 255, 255);
  text-align: center;
}
.signup-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
