.welcom {
  font-size: 50px;
  font-weight: 600;
  margin-left: 3em;
  margin-right: 3em;
}
body {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./images/1_dqV2meYkevAJ0TAgJ98a8A.jpeg");
  background-size: cover;
}
#student-heading {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#student-profile {
  padding: 20px;
  margin: 15px;
  background-color: rgba(230, 230, 230, 0.7);
  color: #494949;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

#avatar {
  align-self: center;
  width: 8em;
  height: auto;
  border-radius: 100%;
  margin-top: -50px;
  border: 10px solid rgb(197, 197, 197, 0.5);
  justify-self: center;
}

#student-name-container {
  background-color: white;
  color: #534444;
  padding: 40px;
  border-radius: 23px 23px 23px 23px;
  width: 70vw;
  margin: 20px;
}
#student-name {
  color: rgb(65, 65, 65);
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.bio {
  color: #534444;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #ebebeb;
  border-radius: 20px;
}
h4 {
  color: rgb(65, 65, 65);
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 40px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

#student-details {
  background-color: #973636;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
}
#search-bar {
  width: 60%;
  background-color: white;
  color: #534444;
  display: flex;
  flex-direction: center;
}

h2 {
  margin: 10px;
}
/*  Modules  */

#checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #838383 0%, #cacaca 100%);
  border-radius: 20px;
  margin-top: 2rem;
  width: 70vw;
}
#checkbox {
  margin-right: 3px;
  color: rgb(221, 221, 221);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 3em;
  font-size: 15px;
  padding: 3px;
  border-radius: 20px;
  border: solid 2px white;
}

#modules {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Course-Progress {
  font-weight: 600;
  color: #494949;
}

#modules-title {
  width: 25em;
  font-size: 18px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 61, 61);
  border-radius: 20px;
  border: solid 2px white;
  color: rgb(221, 221, 221);
}

/* feedback */

#feedback {
  padding: 20px;
  margin: 15px;
  background-color: rgba(240, 240, 240, 0.7);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: scroll;
  height: 1500px;
}

#card-feedback {
  color: aliceblue;
  padding: 10px;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  margin: 15px;
}

#comment-input {
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid gray;
  color: #534444;
}
.comment-input {
  width: 80%;
  padding: 15px;
  color: #534444;
}

#comment {
  margin: 5px;
  border-radius: 20px;
  border: 2px solid gray;
  display: flex;

  justify-content: center;
  align-items: center;
}
#comment-btn {
  margin: 10px;
  background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px white;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#courses_table {
  display: flex;
  justify-content: space-evenly;
}
* [type="checkbox"] {
  vertical-align: middle !important;
}
#submission {
  color: #534444;
}

.submission-card {
  background-image: linear-gradient(0deg, #534444 0%, #ac4242 100%);
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#card-date {
  color: #838383;
  font-style: italic;
}
#card-submitted {
  background-color: #ffffff;
  margin: 10px;

  border-radius: 20px;
  padding: 15px;
}

.card-color {
  margin: 0 auto;
  background-color: hsl(0, 0%, 92%);
  border-radius: 20px;
  padding: 10px;
}

.submission-link {
  font-size: 15px;
  background-color: white;
}

#card-title {
  color: green;
  padding: 5px;
  margin: 5px;
  margin: 0 auto;
  width: 50%;
}

@media (min-width: 300px) and (max-width: 768px) {
  #student-body {
    display: flex;
    flex-direction: row;
  }
  #student-profile {
    width: 97%;
  }

  #feedback {
    background-color: blue;
    width: 97%;
  }
  #student-name {
    width: 90%;
  }
  #student-details {
    width: 100vw;
  }
  .card-color {
    width: 80%;
  }
}

@media (min-device-width: 769px) and (max-device-width: 3000px) {
  #student-body {
    display: flex;
    flex-direction: wrap;
  }
  #feedback {
    width: 70%;
  }
  #card-title {
    padding: 5px;
    margin: 0 auto;
    width: 70%;
  }
  .btn-light {
    width: 50%;
  }
  #student-profile {
    width: 30vw;
  }
  #student-name-container {
    width: 20vw;
  }
  .submission-card {
    width: 60vw;
  }

  #modules-title {
    width: 20vw;
  }
  #checkbox-container {
    width: 25vw;
  }
}
