.single-response {
  padding-left: 20px;
  margin: 10px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.waiting-feedback {
  color: rgb(233, 233, 233);
  font-weight: 600;
  margin: 5px;
}
.dropdown {
  padding: 5px;
  margin: 5px;
  background-color: rgb(228, 87, 87);
  color: white;
}
